.ui-toolkit {
    .container {
        padding: 0
    }

    .breadcrumb-col {
        padding: 0;
    }

    .dataTables_wrapper {
        margin-top: 20px;
    }

    .pagination {
        a {
            color: #505050;
        }

        > .active >a {
            background-color: #505050;
            border-color: #505050;
        }
    }

    .nav-tabs {
        margin-bottom: 0;
    }

    #trc-details {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }

    .page-title {
        border-bottom: 1px solid #eee;
        position: relative;

        .btn {
            right: 14px;
            position: absolute;
            top: 20px;
        }
    }

    #student-name {
        float: right;
    }

    .filters-container {
        margin-top: 10px;
        border: 1px solid #ddd;

        .filters-title {
            background-color: #f0f0f0;
            height: 37px;
            margin: 0;
            line-height: 37px;
            padding-left: 10px;
            font-family: "open-sans-semi-bold", Arial, sans-serif;
        }
        
        .filters-content {
            padding: 10px 10px 20px 10px
        }
    }

    .filter-options {
        display: inline-block;
        margin-right: 20px;
    }

    .dropdown-label {
        font-family: "open-sans-semi-bold", Arial, sans-serif;
        font-size: 10px;
        margin: 0 0 2px;
        padding-left: 10px;
    }

    .table {
        margin: 20px 0 40px 0;
        table-layout: auto;

        td {
            font-size: 12px;
        }

        &.dataTable {
            thead {
                .sorting:after,
                .sorting_desc:after,
                .sorting_asc:after {
                    font-family: 'glyphicons-halflings-regular';
                    font-style: normal;
                    font-variant: normal;
                    font-weight: normal;
                    line-height: 1;
                    opacity: 0.2;
                    speak: none;
                    text-transform: none;
                    top: 10px;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                }

                .sorting:after {
                    content: "\e150";
                }

                .sorting_desc:after {
                    content: "\e156";
                }

                .sorting_asc:after {
                    content: "\e155";
                }
            }
        }
    }
}
