.ui-toolkit {
    .page-title {
        border-bottom: 1px solid #eee;
    }

    #student-name {
        float: right;
    }

    .table {
        margin: 20px 0 40px 0;

        &#trc-passage-details {
            tr {
                >td {
                    font-family: "open-sans-semi-bold", Arial, sans-serif;

                    span {
                        float: right;
                        font-family: "open-sans-semi-regular", Arial, sans-serif;
                    }
                }
            }
            
        }

        &#trc-accordion-row-table {
            margin: 0 0 40px 0;
        }
    }
}
